.card{
    display: flex;
    flex-direction: column;
}

.card_image{
    height: 407px;
    background-color: var(--background-grash);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.img{
    transition: all 0.6s ease-in-out;
}

.img:hover{
    rotate: -2deg;
    scale: 1.05;
}

.card_text{
    height: auto;
    margin-top: 24px;
    color: black;
}

