@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --background-blacki: #0A0908;
    --background-grash: #1A1A1A;
    --background-light-gary: #222222;
    --logo-color: #A9927D;
    --button-bg: #5E503F;
    --button-hover-color: #7D674C;
}

html, body{
    color: white;
    overflow-x: hidden;
}